<article class="doc">
  <a class="doc__back" href="<%- url_for('/') %>">返回首页</a>

  <header class="doc__header">
    <p class="doc__eyebrow">页面</p>
    <h1><%= page.title %></h1>
  </header>

  <div class="doc__content prose">
    <%- page.content %>
  </div>
</article>
